<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.nebulas.demo">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CallUpActivity" />
        <activity android:name=".activity.AlarmActivity" />
        <activity android:name=".activity.NotificationActivity" />
        <activity android:name=".activity.GridViewActivity" />
        <activity android:name=".activity.ShredPreferencesActivity" />
        <activity android:name=".activity.BroadActivity" />

        <receiver android:name="site.nebulas.demo.activity.BC1">
            <intent-filter>
                <action android:name="BC_One"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>